@media (max-width: 570px){
    
.container-menulateral{
    position: relative;
}

main{
    margin-left: 20px;
}

footer{
    margin-left: 20px;
    width: 30%;
}

.vidcont{
    width: 230px;
}


header{
    margin-left: 0px;
    padding-left: 20px;
}


body{
    display: flex;
    flex-wrap: wrap;
}

details{
    width: 220px;
}

#first, #second, #third, #principal{
    width: 220px;
    text-align: left;
}

.container-menulateral{
    height: 100%;
    width: 220px;
}

}
