

@media (width: 570px){
    
.container-menulateral{
    position: relative;
}

main{
    margin-left: 20px;
}


header{
    margin-left: 0px;
    padding-left: 20px;
}


body{
    display: flex;
    flex-wrap: wrap;
}


}



/* blablablabla */


@media (max-width: 320px){
    
    .container-menulateral{
        position: relative;
    }
    
    main{
        margin-left: 20px;
    }

    .vidcont>img{
        max-width: 150px;
        width: 100%;
        cursor: pointer;
    }
    
    
    header{
        margin-left: 0px;
        padding-left: 20px;
    }
    
    
    body{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    }