* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* menu superior */
header{
    margin-left: 16.11%;
    padding: 5.5px 0px 5.5px 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: #FDF1EB;
    padding-right: 1.5%;
    width: 83.89%;
}

.menutoptitles{
    color: #725C5C;
    font-weight: 400;
    line-height: 16px;
}

.menutoptitles>h1{
    font-size: 14px;
    font-family: Roboto;
    Line height: 16,41px;
}

.menutoptitles>h2{
    font-size: 22px;
    line-height: 25.78px;
    font-family: Roboto;
}

.menutoptitles>h3{
    font-size: 14px;
    font-family: Roboto;
    Line height: 16,41px;
}

.menusup{
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: end;
    gap: 10px;
    font-family: Quicksand;
    color: #333333;
    align-items: baseline;
    align-items: center;

}

.menusup>p{
    font-size: 12px;
}

.menusup>a>span{
    font-size: 12px;
}

.menusup>p>span{
    display: block;
    font-size: 14px;
}

.dropbox{
    width: 97px;
    height: 34px;
    cursor: pointer;
}

.imgperfil{
    border-radius: 50%;
}

.notification{
    position: relative;
    display: inline-block;

}

.badge{
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    background-color: #F85959;
    border-radius: 10px;
    color: white;
}

.notification .badge {
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 1px 2.5px;
}

/* /menu superior */



/* barra lateral */

.container-menulateral{
    width: 16.11%;
    height: 280%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -47.44%;
    border-right: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}


.menutitle{
    background-image: linear-gradient(#FFB354
    , #EE7A3A);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menutitle>a{
    color: #FFFFFF;
}

.logo{
    margin-top: 1rem;
    width: 100%;
}

.menulat-cont{
    width: 100%;
}

.menulist{
    margin-top: 10px;
    width: 100%;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.menulist>li{
    padding: 8px 8px 8px 25px;
    border-bottom: 2px solid #E7E7E7;
}

.menulist>li>a{
    color: #725C5C;
}

.contato{
    font-style: Quicksand;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.on{
    background-color: #FDF1EB;
    position: relative;
}

.on::before {
    content: '';
    border-left: solid 4px #ED7839;
    height: 35px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
}

/* /barra lateral */





main{
    width: 83.7%;
    margin-left: 16.3%;
    margin-right: 3rem;
}




/* vídeo */

.videoDetails{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}


.vidcont{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.vidcont>h2{
    color: #ED7839;
    max-width: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}

.vidcont>img{
    width: 100%;
    cursor: pointer;
    height: 100%;
}


/* /vídeo */



/* botões e detalhes */

.rightcolumn{
    margin-top: 20px;
    width: 25%;
}


.buttons{
    text-align: end;
    margin-bottom: 11px;
}

.buttons>a>p{
    text-transform: uppercase;
    color: #ED7839;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.details{
    border: 2px solid #E7E7E7;
    overflow: auto;
    width: 100%;
    height: 439px;
}

.contdetv{
    margin: 15px;
    text-align: left;
    letter-spacing: 2%;
}

.details>h2{
    background-color: #FDF1EB;
    color: #4E4E4E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
}

.contdetv>p{
    font-family: Quicksand;
    color: #4D4D4D;
    font-weight: 400;
}

strong{
    font-weight: bold;
}

.parag1{
    font-size: 14px;
    margin-bottom: 30px;
}

.parag1>span{
    display: block;
}

.parag2{
    font-size: 16px;
    margin-bottom: 50px;
}

.parag2>span{
    display: block;
}

.parag3{
    font-size: 14px;
}

.parag3>span{
    display: block;
    color: #b1b1b1;
}

.details::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.details::-webkit-scrollbar {
    width: 3px;
    background: #F4F4F4;
}

.details::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.details>h2{
    background-color: #FDF1EB;
    padding: 10px;
}




/* resumo */

details{
    border: 2px solid #E7E7E7;
    text-align: justify;
    width: 96.5%;
    margin-left: auto;
    margin-right: auto;
}

details>summary>span>h2{
    background-color: #FDF1EB;
    padding: 10px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    color: #4E4E4E;
}

details>summary>p{
    margin: 15px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    color: #4D4D4D;
}

details>p{
    margin: 15px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    color: #4D4D4D;
}

/* /resumo */



/* discussões */

.discussões{
    margin-top: 30px;
    border: 2px solid #E7E7E7;
    text-align: justify;
    width: 96.5%;
    margin-left: auto;
    margin-right: auto;
}

#principal{
    margin-bottom: 20px;
}

.discussões>div>h2{
    background-color: #FDF1EB;
    padding: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    color: #4E4E4E;
}

.discussões>div>p{
    padding: 10px;
    text-align: center;
}

.conteudo-principal{
    text-align: center;
}

.conteudo-principal>h3{
    font-family: Roboto;
    font-weight: 700;
    color: #ED7839;
    margin-top: 10px;
    margin-bottom: 20px;
}

.conteudo-principal>p{
    color: #595959;
    font-family: Quicksand;
    font-weight: 400;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10px;
}


.createtopic{
    cursor: pointer;
    margin-bottom: 15px;
}


.ctpcBtn{
    margin: 0 auto;
    display: block;
}


.assuntoperg{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    width: 95%;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-bottom: 20px;
}


.assuntoperg>h2{
    font-family: Quicksand;
    color: #ED7839;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.assuntoperg>h3{
    color: #5C5C5C;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.assuntoperg>p{
    color: #4D4D4D;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btnAssuntoperg{
    margin-left: 20px;
    display: flex;
    gap: 10px;
    align-items: baseline;
    align-items: center;
    margin-bottom: 10px;
}

.btnAssuntoperg>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
    font-weight: 350;
    cursor: pointer;
}

.btnAssuntoperg>img{
    cursor: pointer;
}

.ponto3{
    width: 4px;
    height: 18px;
}




/* /discussões */





/* discussões FORMULARIO */


#second{
    text-align: center;
}

#second>h2{
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    color: #4E4E4E;
}

#second>p{
    font-family: Quicksand;
    color: #5C5C5C;
    font-weight: 400;
    font-size: 14px;

}


#assunto{
    width: 95%;
    outline: none;
    border: 1px solid #CCCCCC;
    height: 39px;
}

#assunto::-webkit-input-placeholder{
    font-size: 14px;
    font-family: Quicksand;
    color: #4D4D4D;
    font-weight: 400;
}

#conteudo{
    resize: none;
    outline: none;
    height: 82px;
    width: 95%;
    border: 1px solid #CCCCCC;
}

.boldanditalic{
    text-align: center;
    display: flex;
    background-color: #EAF1F2;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 25px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    height: 40px;
}

.boldanditalic>p{
    margin-left: 20px;
}

.content{
    text-align: initial;
    margin-left: 25px;
    padding-bottom: 6px;
    padding-top: 10px;
    font-family: Roboto;
    color: #ED7839;
    font-weight: bold;
}

.enviar{
    background-image: linear-gradient(#FFB354
    , #EE7A3A);
    color: white;
    width: 15%;
    cursor: pointer;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
    height: 40px;
    font-family: Quicksand;
}

form{
    margin-bottom: 50px;
}


#second-buttons{
    display: flex;
    width: 100%;
}


#boldBtn{
    font-weight: bold;
    cursor: pointer;
}

#italicBtn{
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}


/* /discussões FORMULARIO */



#first{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

}

.special{
    text-align: left;
}

#first>h2{
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    color: #4E4E4E;
}

#first>h3{
    color: #ED7839;
    font-family: Roboto;
    margin-top: 20px;
}

.parablur{
    color: #595959;
    font-family: Quicksand;
}

.descubra{
    margin-top: 20px;
    font-weight: 500;
    text-decoration: underline;
    font-family: Quicksand;
    cursor: pointer;
    color: #F48F44;
}

.createnewtopic{
    background-image: linear-gradient(#FFB354
    , #EE7A3A);
    color: white;
    width: 200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-family: Quicksand;
    font-weight: 500;
    margin-top: 40px;
    cursor: pointer;
}


.blur{
    background-image: url('../img/blur.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 95%;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.blur>img{
    margin-top: 50px;

}

.blur>p{
    font-weight: bold;
    font-size: 16px;
    font-family: Quicksand;
    margin-top: 5px;
    color: #707070;

}

.blur>a{
    color: #ED7839;
    text-decoration: underline;
    cursor: pointer;
    font-family: Quicksand;
}

/* discussões FIRST */



.maintofoot{
    border-top: none;
    margin-top: 80px;
    width: 80%;
    margin-left: 17%;
    background-color: #ECECEC;
}



/* footer */
footer{
    margin-left: 16.11%;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 83.89%;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    color: #4D4D4D;
}

.containerf{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    gap: 30px;
    text-align: left;
    align-items: baseline;
    align-items: center;
}

.logoebtn{
    width: 25%;
}

.sbmais{
    background-color: rgb(110, 73, 136);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.contfot{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* /footer */



/* none do discussões */
 #first, #second, #third{
    display: none;
}