* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* menu superior */
header{
    margin-left: 220px;
    padding: 5.5px 0px 5.5px 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: #FDF1EB;
    padding-right: 4rem;
}

header>section{
    color: #725C5C;
    font-weight: 400;
}

header>section>h1{
    font-size: 14px;
}

header>section>h3{
    font-size: 14px;
}

header>section>h2{
    font-size: 22px;
    line-height: 25.78px;
}

.menusup{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 13px;
    text-align: end;
    gap: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #333333;

}

.menusup>p{
    font-size: 12px;
}

.menusup>p>span{
    display: block;
    font-size: 14px;
}

.dropbox{
    max-width: 97px;
    max-height: 34px;
    cursor: pointer;
}

.imgperfil{
    max-height: 30px;
    border-radius: 50%;
}



/* /menu superior */


/* barra lateral */

.container-menulateral{
    max-width: 220px;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -47.44%;
    border-right: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}


.menutitle{
    background-image: linear-gradient(#FFB354
    , #EE7A3A);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    height: 68px;
    padding-top: 14px;
}

.menutitle>a{
    color: #FFFFFF;
}

.logo{
    margin-top: 1rem;
    max-width: 220px;
    width: 100%;
}

.menulist{
    margin-top: 10px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.menulist>li{
    padding: 8px 8px 8px 25px;
    border-bottom: 2px solid #E7E7E7;
}

.menulist>li>a{
    color: #725C5C;
}

.contato{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.on{
    background-color: #FDF1EB;
    position: relative;
}

.on::before {
    content: '';
    border-left: solid 4px #ED7839;
    height: 35px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
}

/* /barra lateral */





main{
    margin-left: 16rem;
    margin-right: 3rem;
}




/* vídeo */

.videosec{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.vidcont{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 783px;
}

.vidcont>h2{
    color: #ED7839;
    max-width: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}

.vidcont>img{
    max-width: 783px;
    width: 100%;
    cursor: pointer;
}


/* /vídeo */



/* botões e detalhes */

.rightcolumn{
    margin-top: 20px;
}


.buttons{
    text-align: end;
    margin-bottom: 16px;
}

.buttons>a>p{
    text-transform: uppercase;
    color: #ED7839;
}


.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.details{
    border: 2px solid #E7E7E7;
    overflow: auto;
    max-width: 242px;
    height: 418px;
}

.details::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.details::-webkit-scrollbar {
    width: 3px;
    background: #F4F4F4;
}

.details::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.details>h2{
    background-color: #FDF1EB;
    padding: 10px;
}




/* resumo */

details{
    border: 2px solid #E7E7E7;
    text-align: justify;
    margin-left: 20px;
    max-width: 1005px;
}

details>summary>span>h2{
    background-color: #FDF1EB;
    padding: 10px;
    cursor: pointer;
}

details>summary>p{
    padding: 10px;
}

details>p{
    padding: 10px;
}

/* /resumo */



/* discussões */

.discussões{
    margin-top: 30px;
    border: 2px solid #E7E7E7;
    text-align: justify;
    margin-left: 20px;
    max-width: 1005px;
}

.discussões>div>h2{
    background-color: #FDF1EB;
    padding: 10px;
}

.discussões>div>p{
    padding: 10px;
    text-align: center;
}

.conteudo-principal{
    text-align: center;
}

.createtopic{
    border: none;
}

.createtopic>img{
    cursor: pointer;
}


/* /discussões */





#first, #second, #third{
    display: none;
}



#conteudo{
    display: block;
}

.enviar{
    display: flex;
    background-color: #EAF1F2;
}

#second>form>div>label>span{
    display: block;
}

#boldBtn{
    font-weight: bold;
    cursor: pointer;
}

#italicBtn{
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}